* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: sans-serif, Verdana;
}

.title {
    font-size: 5em;
    text-align: center;
    margin-top: 1rem;
}

.main {
    max-width: 1024px;
    margin: auto;
    padding: 1em 2em;
}